.wrapper{
    max-width: 960px;
    margin: 20px auto;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        background: #fff;
        margin: 15px 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 6px 9px 15px -9px rgba(0,0,0,0.75);
        align-items: center;
        transition: all .2s ease-in-out;
        min-width: 300px;
        max-width: 300px;

        &_desc {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                text-transform: uppercase;
                font-size: 18px;
                margin: 10px;
            }
        }

        &_add {
            display: flex;

            p {
                margin:0 10px;
                .icon {
                    width:auto;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        fill:red;
                    }

                }
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        img{
            width:150px;
            flex-grow: 1;
        }
    }
}