.wrapper{
    h1 {
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        width: 320px;
        margin: 20px auto;
    }

    &__empty {
        text-align: center;
    }
}