$breakpoint:1024px;

.wrapper {
    margin-top: 50px;
    padding: 10px;
    

    form {
        display: flex;
        align-items: center;
        width: 70%;
        background: white;
        border-radius: 30px;
        padding: 10px;
        margin: 0 auto;
        box-shadow: 6px 9px 15px -9px rgba(0, 0, 0, 0.75);

        input {
            background: #fff;
            width: 100%;
            border: 0;
            outline: none;
            font-size: 16px;
            padding: 0 10px;
        }

        button {
            display: flex;
            background: #fff;
            border: 0;
            outline: none;
            cursor: pointer;
        }

        @media (min-width: $breakpoint) {
            width: 50%;
        }
    }
}